.mybar {
     color: #FFC0DE;
     background-color: #101010;
 }

.mybutton-current {
    color: #FFC0DE;
    background-color: #101010;
    text-decoration: none;
}


.mybutton-current:hover {
    color: #BCDDBD;
    background-color: #101010;
}

.mybutton {
    color: #CCC;
    background-color: #101010;
    text-decoration: none;
}

.mybutton:hover {
    color: #BCDDBD;
    background-color: #101010;
}
