---
layout: default
---

<div class="w3-row">
    <div class="w3-col m2 l2">
        <p></p>
    </div>

    <div class="w3-col m4 l4 w3-center w3-padding">
        <p><img src={{ site.baseurl }}"/assets/images/profile.jpg" style="width:100%;max-width:250px" class="w3-round w3-image"></p>
    </div>

    <div class="w3-col m4 l4 w3-padding">
        <p>
            <h1>John Matter</h1>
            BS Physics, UC Davis (2012)<br/>
            PhD Physics, University of Virginia (2021)
        </p>

        <p>
            contact: jmatter4 at gmail
        </p>

        <p>
            <a href="https://www.github.com/johnmatter">github</a><br/>
            <a href="https://www.linkedin.com/in/johnmatter/">linkedin</a>
        </p>
    </div>

    <div class="w3-col m2 l2">
        <p></p>
    </div>
</div>

<div class="w3-row">
    <div class="w3-col m1 l2">
        <p></p>
    </div>

    <div class="w3-col m10 l8">
        <div class="w3-margin-left w3-margin-right">
            {{ content }}
        </div>
    </div>

    <div class="w3-col m1 l2">
        <p></p>
    </div>
</div>
